@import '../../styles/variables';
@import '../../styles//breakpoints';

.modal-background {
  background-color: $opacity;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $base-margin;
  padding: $base-padding;
  background-color: $light;
  text-align: center;
  width: 100%;
  height: 90%;
  max-width: 500px;

  .modal-form {
    margin: auto;
    a {
      margin-top: $base-margin;
      text-decoration: underline;
    }
  }
}

@include sm {
  .modal-wrapper {
    max-height: 600px;
  }
}
