@import '../../styles/variables';
@import '../../styles/breakpoints';

.cart-card {
  grid-template-columns: 100px 1fr;
  img {
    height: 100%;
    object-fit: cover;
  }
  p {
    font-size: $base-font-size;
    span {
      font-weight: 500;
      text-decoration: underline;
    }
  }
}

.order-summary-container {
  background-color: $light;
  margin-top: $base-margin;
  padding: $base-padding;
  display: flex;
  flex-direction: column;
  max-height: 378px;
  .order-action {
    margin-top: auto;
    text-align: center;
    div {
      p {
        margin-bottom: $base-margin;
        font-weight: 500;
      }
    }
  }
}

@include md {
  .cart-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
  }

  .cart-card {
    grid-template-columns: unset;
  }
}

@include md {
  .order-summary-container {
    margin-top: 0;
  }
}

// section stling
// display: grid;
// grid-template-columns: 3fr 1fr;
// gap: 1rem;
